*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header-container{
    /* border: solid; */
    width: 100%;
    display: flex;
    height: 13vh;
    align-items: center;
    /* background-color: rgb(238, 235, 235); */
    background-color: rgb(245, 225, 229);
    width: 100%;
    /* color: #333; */
    color: black;
    letter-spacing: 1px;
}
.nandu{
    /* border: solid; */
    margin-left: 10vh;
    font-size: 17px;
    font-weight: bold;
    width: 20%;
    cursor: pointer;

}
.right-side{
    /* border: solid; */
    display: flex;
    margin-left: 39vh;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 17px;
    width: 50%;
    letter-spacing: 1px;
    text-decoration: none;
}
.header-A{
    /* color: #333; */
    text-decoration: none;
    color: black;
}
.header-A:hover{
    color: #612cd2;
    text-decoration:underline;
}

/* home-section */

#home-container{
    text-transform: uppercase;
    /* border: solid 1px; */
    width: 100%;
    /* height: 100vh; */
    /* margin-left: 2%; */
}
.hello{
    font-size: 35px;
    margin-top: 20vh;
    margin-left: 16vh;
    /* border: solid; */
    width: 15%;
}
.home-h1{
    font-size: 4rem;
}
.name{
    font-size: 58px;
    margin-top: 15px;
    margin-left: 16vh;
}
.deve{
    font-size: 30px;
    margin-top: 13px;
    margin-left: 16vh;
}
.line{
    text-transform:none;
    width: 40%;
    font-size: 18px;
    margin-top: 2%;
    margin-left: 16vh;
}
.hire-btn{
    width: 10%;
    height: 7vh;
    margin-top: 4%;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin-left: 16vh;
}
.hire-btn:hover{
    color: black;
    background-color:white;
}

.get-btn{
    width: 10%;
    height: 7vh;
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    color: #242323;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    margin-left: 15px;
    background-color: rgb(232, 227, 227);
}
.get-btn:hover{
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    color: white;
}
.img-container{
    /* border: solid; */
    width: 35%;
    margin-left: 60%;
    text-align: center;
    margin-top: -365px;
}
.img1{
    /* border: solid; */
    width: 65vh;
    height: 65vh;
    border-radius: 50%;
}
.home-A{
    color: #333;
    text-decoration: none;
}

/* about-section */
#about-main-container{
    /* border: solid 1px; */
    margin-top: 10%;
    width: 100%;
    height: 80vh; 
}
.about-h1{
    /* border: solid; */
    text-transform: uppercase;
    width: 40%;
    margin-left: 50%;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 2.7rem;
}
.abut{
    margin-top: 30px;
}
.about-para{
    /* border: solid; */
    margin-top: 25px;
    width: 46%;
    font-size: 17px;
    margin-left: 50%;
}
.about-img{
    /* border: solid; */
    width: 30%;
    height: 80vh;
    margin-top: -400px;
    margin-left: 80px; 
}

.about-btn1{
    width: 10%;
    height: 7vh;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    left: 50%;
    position: relative;
    top: -75px;
    cursor: pointer;
}
.p2{
    margin-top: 15px;
}
.p3{
    margin-top: 15px;
}

.about-AA{
    color: white;
}
.abt-A{
    color: white;
    text-decoration: none;
}

/* skills-section */
#skills-container{
    /* border: solid 1px; */
    width: 100%;
    margin-top: 130px;
    height: 70vh;
}
.skill-h2{
    /* border: solid; */
    width: 15%;
    font-size: 3rem;
    margin-left: 45%;
    margin-top: 8vh;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.skill-img{
    /* border: solid; */
    height: 30vh;
    margin-top: 80px;
    width: 50%;
    margin-left: 90vh;
}

.html-div{
    /* border: solid; */
    width: 100%;
    /* box-shadow: #533098; */
}
.css-div{
    /* border: solid; */
    width: 95%;
}
.js-div{
    /* border: solid; */
    width: 100%;
}
.github-div{
    /* border: solid; */
    width: 100%;
}

.skill-html{ 
    /* border: solid red; */
    width: 16%;
    position: relative;
    left: 5%;
    /* height: 43vh; */
    text-align: center;
    box-shadow: 0px 10px 30px rgba(157, 135, 233, 0.3);
    border-radius: 6%;
}
.skill-html:hover{
    box-shadow: 0px 30px 40px rgba(117, 77, 249, 0.3);
}

 .skill-css{
    /* border: solid red;  */
    width: 15%;
    position: relative;
    left: 29%;
    text-align: center;
    bottom: 21.67vh;
    box-shadow: 0px 10px 30px rgba(157, 135, 233, 0.3);
    border-radius: 6%;
}
.skill-css:hover{
    box-shadow: 0px 30px 40px rgba(117, 77, 249, 0.3);
}
.skill-js{
    /* border: solid red; */
    width: 16%;
    position: relative;
    left: 53%;
    bottom: 43vh;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(157, 135, 233, 0.3);
    border-radius: 6%;
}
.skill-js:hover{
    box-shadow: 0px 30px 40px rgba(117, 77, 249, 0.3);
}
.skill-github{
    /* border: solid red; */
    width: 16%;
    position: relative;
    left: 77%;
    bottom: 64vh;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(157, 135, 233, 0.3);
    border-radius: 6%;
}
.skill-github:hover{
    box-shadow: 0px 30px 40px rgba(117, 77, 249, 0.3);
}
.skill-para{
    /* border: solid; */
    margin-top: 12px;
    /* font-weight: 500; */
}

.skill-sec-section{
    /* border: solid; */
    position: relative;
    width: 90vh;
    bottom: 27vh;
    height: 20vh;
    text-align: center;
}

.skill-my-h1{
    /* border: solid; */
    width: 40vh;
    /* color: #7843e9; */
    color: #612cd2;
    margin-left: 24vh;
}

.skill-p{
    /* border: solid; */
    margin-top: 20px;
    font-size: 18px;
}
.one{
    border: solid #7843e9;
    margin-top: 20px;
    width: 15%;
    margin-left: 42%;
    border-radius: 5px;
}

.two{
    border: solid #7843e9;
    width: 8%;
    margin-top: 20px;
    margin-left: 48%;
    border-radius: 5px;
}



/* project-section */

#project-container{
    /* border: solid; */
    height: 100vh;
    width: 100%;
    position: relative;
    bottom: 70px;
    margin-top: 100px;
}
.project-div1{
    border: solid 1px #7843e9;
    width: 23%;
    height: 60vh;
    margin-top: 15vh;
    margin-left: 39vh;
    /* box-shadow: 0px 10px 30px 20px rgba(157, 135, 233, 0.3); */
    box-shadow: 0px 10px 20px rgb(244, 234, 234);
    border-radius: 5%;
}
.project-div2{
    border: solid 1px #7843e9;
    width: 23%;
    height: 60vh;
    left: 60%;
    position: relative;
    bottom: 60vh;
    /* box-shadow: 0px 10px 30px 20px rgba(157, 135, 233, 0.3); */
    box-shadow: 0px 10px 20px rgb(244, 234, 234);
    border-radius: 5%;
}

.proj-img{
    /* border: solid; */
    width: 100%;
    height: 27vh;
    border-radius: 5%;

}
.proj-img1{
    /* border: solid; */
    width: 100%;
    height: 27vh;
    border-radius: 5%;
}
.proj-para{
    /* border: solid; */
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 20px;
}
.proj-span{
    /* border: solid; */
    font-size: 1.0rem;
}
.proj-span-div{
    /* border: solid; */
    margin-top: 25px;
    margin-left: 15px;
}
.proj-h1{
    width: 15%;
    font-size: 3rem;
    margin-left: 42%;
    /* margin-top: 8vh; */
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}

.proj-para1{
    /* border: solid; */
    margin-top: 30px;
    font-size: 1.3rem;
    font-weight: 600;
    margin-left: 20px;
}
.proj-span1{
    /* border: solid; */
    font-size: 1.0rem;
}
.proj-span-div1{
    /* border: solid; */
    margin-top: 25px;
    margin-left: 15px;
}
.proj-btn1{
    width: 35%;
    height: 6vh;
    border: solid 1px rgb(129, 90, 197);
    /* box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); */
    border-radius: 5px;
    /* color: rgb(255, 255, 255); */
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    color: #000;
    /* border: none; */
}
.proj-btn1:hover{
    /* background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee); */
    background-color: #7843e9;
    color: white;
}
.proj-btn-div1{
    /* border: solid; */
    margin-top: 30px;
    margin-left: 30px;
}
.proj-btn-div2{
    /* border: solid; */
    margin-top: 13px;
    margin-left: 30px;
}
.proj-btn2{
    width: 35%;
    height: 6vh;
    border: solid 1px rgb(129, 90, 197);
    /* box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); */
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    left: 15%;
    position: relative;
    bottom: 1px;
    cursor: pointer;
}
.proj-btn2:hover{
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    color: white;
}
.proj-btn3{
    width: 35%;
    height: 6vh;
    border: solid 1px rgb(129, 90, 197);
    /* box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); */
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    position: relative;
    cursor: pointer;
}
.proj-btn3:hover{
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    color: white;
}
.proj-btn4{
    width: 35%;
    height: 6vh;
    border: solid 1px rgb(129, 90, 197);
    /* box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3); */
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    left: 15%;
    position: relative;
    bottom: 1px;
    cursor: pointer;
}
.proj-btn4:hover{
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    /* color: white; */
}

.project-three{
    border: solid #7843e9;
    width: 8%;
    margin-top: 20px;
    margin-left: 48%;
    border-radius: 5px;
}
.project-A{
    text-decoration: none;
}

/* contact-section */
#contact-main-container{  
    /* border: solid; */
    /* margin-top: 20px; */
    width: 100%;
    height: 120vh;
    text-align: center;
}
.cont-h2{
    /* border: solid; */
    width: 20%;
    font-size: 3rem;
    margin-left: 40%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.form1{
    /* border: solid; */
    margin-top: 30px;
}
.form2{
    /* border: solid; */
    margin-top: 23px;
}
.form3{
    /* border: solid; */
    height: 60vh;
}
input{
    color: #333;
    padding: 2rem;
    width: 75%;
    height: 24px;
    border: 1px solid #ebebeb;
    font-size: 1rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 30px;
}
form{
    /* border: solid red; */
    height: 120vh;
    width: 65%;
    margin-left: 35vh;
    /* background: #e8e7e7; */
    background-color: white;
    margin-top: 70px;
    border-radius: 2%;
    box-shadow: rgba(100, 100, 108, 0.2) 0 7px 29px 0;
}
.inp3{
    /* border: solid bisque; */
    height: 40vh;
    margin-top: 50px;
}
.cont-label{
    /* border: solid blue; */
    color: #666;
    /* font-size: 1.4rem; */
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    top: 20px;
    right: 33%;
}
.cont-label1{
    /* border: solid blue; */
    color: #666;
    /* font-size: 1.4rem; */
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    top: 20px;
    right: 33%;

}
.cont-label2{
    /* border: solid blue; */
    color: #666;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    top: 30px;
    right: 32%;
}
.cont-btn{
    width: 30%;
    height: 9vh;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    left: 22.56%;
    position: relative;
    bottom: 15px;
    cursor: pointer;
}
.inside{
    /* border: solid; */
    position: relative;
    top: 60px;
}
.contact-four{
    border: solid #7843e9;
    width: 9%;
    margin-top: 20px;
    margin-left: 46%;
    border-radius: 5px;
}



/* footer-section */
#footer-main-div{
    /* border: solid red; */
    margin-top: 50vh;
    width: 100%;
    height: 55vh;
    background-color: #000;
    /* color: white; */
}

.footer-h2{
    color: #FFFFFF;
    /* border: solid white; */
    font-size: 2rem;
    position: relative;
    top: 13vh;
    left: 50px;
}
.foot-p{
    color: #EEEEEE;
    /* border: solid white; */
    left: 50px;
    position: relative;
    top: 16vh;
}

#a-foot{
    color: white;
    font-size: 25px;
    margin: 3%;
    text-decoration: none;
}
.first-div-foot{
    /* border: solid white; */
    width: 50%;
}
.first-div-foot1{
    /* border: solid white; */
    width: 50%;
    left:50%;
    height: 30vh;
    position: relative;
    bottom: 19vh;
}
.foot-span{
    /* border: solid black; */
    color: #FFFFFF;
    font-size: 1.3rem;
    left: 62%;
    top: 20vh;
    position: relative;
    width: 20%;
}
.foot-icon{
    /* border: solid white; */
    position: relative;
    left: 60vh;
    top: 23vh;
    width:33%;
}
.footer-five{
    border: 1px solid #444;
    position: relative;
    bottom: 2vh;
    width: 93%;
    color: #eee;
    left: 3%;
    border-radius: 5px;
}
.footer-A{
    /* text-decoration: dashed; */
    color: white;
    font-size: 15px;
}
.footer-lower{
    /* border: solid white; */
    color: white;
    font-size: 13px;
    width: 20%;
    margin-left: 43%;
    margin-top: 24px;
}

#menu-icon{
    display: none;
}




/* media query */
@media (max-width:400px){
    #header-container{
        width: 100%;
        background-color: rgb(234, 229, 229);
        height: 10vh;
        margin-top: 2px;
    }
    .right-side{
        display: none;
        position: absolute;
        top: 50px;
        right: 0px;
        left: 0px;
        cursor: pointer;
        padding: 5%;
        height: auto;
    }
    .nandu{
        font-size: 20px;
        color: black;
        margin-left: 30px;
    }
    #menu-icon{
        display: block;
        margin-left: 50%;
        color: black;
    }
    #menu-icon:hover + .right-side{
        display: block;
        /* border: solid; */
        width: 30vh;
        font-size: 20px;
        color: #000;
    }
    .img-container{
        /* border: solid; */
        text-align: center;
        top: 1vh;
        left:-183px;
        position: relative;
        width: 75%;
    }
    .img1{
        display: block;
        /* border: solid red; */
        width: 100%;
        height: 45vh;
    }
    #home-container{
        text-transform: uppercase;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column-reverse;
        font-size: 15px;
    }
    .hello{
        font-size: 19px;
        position: relative;
        bottom: 272px;
        width: 40%;
        left: 19px;
        /* border: solid; */
    }
    .home-h1{
        font-size: 1.70rem;
        /* border: solid ; */
    }
    .name{
        /* border: solid lawngreen; */
        width: 85%;
        position: relative;
        left: -76px;
        top: -133px;
    }
    .deve{
        font-size: 20px;
        top: -16px;
        /* border: solid red; */
        /* width: 100%; */
        position: relative;
        /* text-align: center; */
        left:-47px;
    }
    .line{
        width: 100%;
        /* border: solid pink; */
        position: relative;
        top: 67px;
        font-size: 14px;
        text-align: center;
        left: -122px;
    }
    .hire-btn{
        width: 22%;
        height: 6vh;
        background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
        box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
        border-radius: 5px;
        font-family: "Rubik", sans-serif;
        color: #fff;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        position: relative;
        top: 26%;
        left: -10%;
    }
    .hire-btn:hover{
        color: black;
        background-color:white;
    }
    
    .get-btn{
        width: 22%;
        height: 6vh;
        box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
        border-radius: 5px;
        font-family: "Rubik", sans-serif;
        color: #242323;
        text-transform: uppercase;
        font-weight: bold;
        border: none;
        background-color: rgb(232, 227, 227);
        position: relative;
        top: 34%;
        left: 46%;
        /* border: solid; */
    }
    .get-btn:hover{
        background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
        box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
        color: white;
    }
   
    
    .home-A{
        color: #333;
        text-decoration: none;
    }



    /* about-section */
#about-main-container{
    /* border: solid; */
    width: 100%;
    height: 130vh;
    /* margin-top: -119px; */
    margin-top: 70px;
}
.about-h1{
    /* border: solid red; */
    text-transform: uppercase;
    width: 70%;
    letter-spacing: 1px;
    font-size: 2rem;
    position: relative;
    height: 20%;
    text-align: center;
    right: 35%;
    top: -80px;
}
.abut{
    /* margin-top: 30px; */
    /* border: solid pink; */
    position: relative;
    /* top: 20vh; */
    /* text-align: center; */
}

.about-para{
    /* border: solid blue; */
    top: 181px;
    width: 70%;
    font-size: 14px;
    /* margin-left: 50%; */
    position: relative;
    right: 16vh;
}

.about-img{
    /* border: solid; */
    width: 80%;
    height: 35vh;
    position: relative;
    bottom: 10vh;
    right: 40px;
}

.about-btn1{
    width: 24%;
    height: 6vh;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    left: 41%;
    position: relative;
    top: 213px;
    cursor: pointer;
}
.p2{
    margin-top: 15px;
}
.p3{
    margin-top: 15px;
}

.about-AA{
    color: white;
}
.abt-A{
    color: white;
    text-decoration: none;
}

/* skills */
#skills-container{
    /* border: solid; */
    width: 100%;
    margin-top: 60px;
    height: 90vh;
}
.skill-h2{
    /* border: solid; */
    width: 35%;
    font-size: 2rem;
    margin-left: 33%;
    margin-top: -40vh;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.skill-img{
    /* border: solid red;
    height: 30vh;
    margin-top: 130px;
    width: 50%;
    margin-left: 90vh; */
}

.html-div{
    /* border: solid; */
    width: 100%;
}
.css-div{
    /* border: solid; */
    width: 95%;
}
.js-div{
    /* border: solid; */
    width: 100%;
}
.github-div{
    /* border: solid; */
    width: 100%;
}

.skill-html{ 
    /* border: solid red; */
    width: 30%;
    position: relative;
    left: -360%;
    text-align: center;
    top: 76px;
    box-shadow: 0px 10px 30px rgba(157, 135, 233, 0.3);
}
.skill-html:hover{
    box-shadow: 0px 30px 40px rgba(117, 77, 249, 0.3);
}

.skill-css{
    /* border: solid red; */
    width: 28%;
    position: relative;
    left: -310%;
    top: -7px;
    text-align: center;
    bottom: 23.30vh;
    box-shadow: 0px 10px 30px rgba(157, 135, 233, 0.3);
}
.skill-css:hover{
    box-shadow: 0px 30px 40px rgba(117, 77, 249, 0.3);
}
.skill-js{
    /* border: solid; */
    top: -99px;
    width: 30%;
    position: relative;
    left: -270%;
    bottom: 46.80vh;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(157, 135, 233, 0.3);
}
.skill-js:hover{
    box-shadow: 0px 30px 40px rgba(117, 77, 249, 0.3);
}
.skill-github{
    /* border: solid; */
    width: 30%;
    top: -187px;
    position: relative;
    left: -90%;
    bottom: 69.70vh;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(157, 135, 233, 0.3);
}
.skill-github:hover{
    box-shadow: 0px 30px 40px rgba(117, 77, 249, 0.3);
}
.skill-para{
    /* border: solid; */
    margin-top: 12px;
    /* font-weight: 500; */
    font-size: 10px;
}

.skill-sec-section{
    /* border: solid; */
    position: relative;
    width: 90vh;
    bottom: 27vh;
    height: 20vh;
    text-align: center;
}

.skill-my-h1{
    /* border: solid pink; */
    width: 35vh;
    color: #612cd2;
    left: -18vh;
    font-size: 20px;
    bottom: 87px;
    position: relative;
}

.skill-p{
    /* border: solid; */
    bottom: 93px;
    font-size: 12px;
    width: 40vh;
    position: relative;
    left: 3vh;
}
.one{
    border: solid #7843e9;
    margin-top: 20px;
    width: 15%;
    left: -24%;
    border-radius: 5px;
    bottom: 97px;
    position: relative;
}

.two{
    border: solid #7843e9;
    width: 8%;
    margin-top: 20px;
    margin-left: 45%;
    border-radius: 5px;
}

/* project */
#project-container{
    /* border: solid; */
    height: 100vh;
    width: 100%;
    position: relative;
    bottom: 70px;
    margin-top: 50px;
}
.project-div1{
    /* border: solid red; */
    width: 43%;
    height: 70vh;
    margin-top: 15vh;
    margin-left: 3vh;
    /* box-shadow: 0px 10px 30px 20px rgba(157, 135, 233, 0.3); */
    box-shadow: 0px 10px 20px rgb(244, 234, 234);
    border-radius: 5%;
}
.project-div2{
    /* border: solid green; */
    width: 43%;
    height: 70vh;
    left: 53%;
    position: relative;
    bottom: 70vh;
    /* box-shadow: 0px 10px 30px 20px rgba(157, 135, 233, 0.3); */
    box-shadow: 0px 10px 20px rgb(244, 234, 234);
    border-radius: 5%;
}

.proj-img{
    /* border: solid; */
    width: 100%;
    height: 27vh;
    border-radius: 5%;
}
.proj-img1{
    /* border: solid; */
    width: 100%;
    height: 27vh;
    border-radius: 5%;
}
.proj-para{
    /* border: solid; */
    margin-top: 21px;
    font-size: 1rem;
    margin-left: 20px;
    width: 75%;
}
.proj-span{
    /* border: solid; */
    font-size: 0.75rem;
}
.proj-span-div{
    /* border: solid; */
    margin-top: 13px;
    margin-left: 15px;
}
.proj-h1{
    /* border: solid; */
    width: 45%;
    font-size: 2rem;
    margin-left: 29%;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.proj-para1{
    /* border: solid; */
    margin-top: 21px;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 20px;
}
.proj-span1{
    /* border: solid; */
    font-size: 0.75rem;
    width: 20px;
   
}
.proj-span-div1{
    /* border: solid red; */
    position: relative;
    top: -13px;
    margin-left: 15px;
    height: 30%; 
}
.proj-btn1{
    width: 43%;
    height: 7vh;
    border: solid 1px rgb(129, 90, 197);
    border-radius: 5px;
    text-transform: uppercase;
    /* font-weight: bold; */
    position: relative;
    cursor: pointer;
    color: #000;
    left: -15px;
}
.proj-btn1:hover{
    background-color: #7843e9;
    color: white;
}
.proj-btn-div1{
    /* border: solid; */
    margin-top: 30px;
    margin-left: 30px;
}
.proj-btn-div2{
    /* border: solid; */
    margin-top: 13px;
    margin-left: 30px;
}
.proj-btn2{
    width: 43%;
    height: 7vh;
    border: solid 1px rgb(129, 90, 197);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    /* font-weight: bold; */
    left: 1%;
    position: relative;
    bottom: -11px;
    cursor: pointer;
}
.proj-btn2:hover{
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    color: white;
}
.proj-btn3{
    width: 43%;
    height: 7vh;
    border: solid 1px rgb(129, 90, 197);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    /* font-weight: bold; */
    position: relative;
    cursor: pointer;
    bottom: 37px;
    left: -13px;
}
.proj-btn3:hover{
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    color: white;
}
.proj-btn4{
    width: 43%;
    height: 7vh;
    border: solid 1px rgb(129, 90, 197);
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    /* font-weight: bold; */
    left: 1%;
    position: relative;
    bottom: 25px;
    cursor: pointer;
}
.proj-btn4:hover{
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    /* color: white; */
}

.project-three{
    border: solid #7843e9;
    width: 8%;
    margin-top: 20px;
    margin-left: 46%;
    border-radius: 5px;
}
.project-A{
    text-decoration: none;
}



/* contact */

#contact-main-container{  
    /* border: solid; */
    margin-top: 15px;
    width: 100%;
    height: 140vh;
    text-align: center;
}
.cont-h2{
    /* border: solid; */
    width: 43%;
    font-size: 2rem;
    margin-left: 30%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
}
.form1{
    /* border: solid; */
    margin-top: 30px;
    /* height: 30vh; */
}
.form2{
    /* border: solid; */
    margin-top: 23px;
}
.form3{
    /* border: solid; */
    height: 60vh;
}
input{
    /* border: solid; */
    color: #333;
    padding: 1rem;
    width: 75%;
    height: 20px;
    /* border: 1px solid #ebebeb; */
    font-size: 0.80rem;
    letter-spacing: 0;
    background: #f0f0f0;
    border-radius: 5px;
    font-weight: 600;
    top: -4px;
    position: relative;
}
form{
    /* border: solid red; */
    height: 120vh;
    width: 80%;
    margin-left: 7vh;
    background-color: white;
    margin-top: 40px;
    border-radius: 2%;
    box-shadow: rgba(100, 100, 108, 0.2) 0 7px 29px 0;
}
.inp3{
    /* border: solid bisque; */
    height: 40vh;
    margin-top: 50px;
}
.cont-label{
    /* border: solid blue; */
    color: #666;
    /* font-size: 1.4rem; */
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    top: 20px;
    right: 33%;
}
.cont-label1{
    /* border: solid blue; */
    color: #666;
    /* font-size: 1.4rem; */
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    top: 20px;
    right: 33%;

}
.cont-label2{
    /* border: solid blue; */
    color: #666;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    position: relative;
    top: 30px;
    right: 32%;
}
.cont-btn{
    width: 30%;
    height: 9vh;
    background-image: linear-gradient(to right, #4458dc 0%, #854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    box-shadow: 0px 10px 30px rgba(118, 85, 225, 0.3);
    border-radius: 5px;
    font-family: "Rubik", sans-serif;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    left: 22.56%;
    position: relative;
    bottom: 15px;
    cursor: pointer;
}
.inside{
    /* border: solid palevioletred; */
    position: relative;
    top: 2px;
}
.contact-four{
    border: solid #7843e9;
    width: 9%;
    margin-top: 20px;
    margin-left: 46%;
    border-radius: 5px;
}

/* footer */
#footer-main-div{
    /* border: solid red; */
    margin-top: 40vh;
    width: 100%;
    height: 55vh;
    background-color: #000;
    /* color: white; */
}
.first-div-foot{
    /* border: solid blue; */
}
.footer-h2{
    color: #FFFFFF;
    /* border: solid white; */
    font-size: 0.90rem;
    position: relative;
    top: 7vh;
    left: 20px;
    width: 60%;
}
.foot-p{
    color: #EEEEEE;
    /* border: solid white; */
    left: 20px;
    position: relative;
    top: 11vh;
    font-size: 13px;
}
#a-foot{
    /* border: solid white; */
    color: white;
    font-size: 16px;
    margin: 3%;
    text-decoration: none;
}
.first-div-foot{
    /* border: solid white; */
    width: 50%;
}
.first-div-foot1{
    /* border: solid white; */
    width: 50%;
    left:50%;
    height: 30vh;
    position: relative;
    bottom: 19vh;
}
.foot-span{
    /* border: solid white; */
    color: #FFFFFF;
    font-size: 1rem;
    left: 52%;
    top: 12vh;
    position: relative;
    width: 32%;
}
.foot-icon{
    /* border: solid white; */
    position: relative;
    left: 14vh;
    top: 17vh;
    width:50%;
}
.footer-five{
    border: 1px solid #444;
    position: relative;
    bottom: 8vh;
    width: 93%;
    color: #eee;
    left: 3%;
    border-radius: 5px;
}
.footer-A{
    /* text-decoration: dashed; */
    color: white;
    font-size: 15px;
}
.footer-lower{
    /* border: solid white; */
    color: white;
    font-size: 11px;
    width: 58%;
    margin-left: 25%;
    margin-top: -10px;
}



}




